---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getAllPokemon } from "../services/pokedex";
// import UseSearchPokemon from "../hooks/UseSearchPokemon";

const pokemons = await getAllPokemon();
// const { searchResults, searchTerm, handleChange } = UseSearchPokemon(pokemons);
---

<Layout title="Welcome to Astro.">
  <main class="m-auto p-6">
    <section class="mb-2">
      <label
        for="pokemon-search"
        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300"
        >Attrape le !</label
      >
      <div class="relative">
        <div
          class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 text-black-500 dark:text-gray-400"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
          </svg>
        </div>
        <input
          type="search"
          id="pokemon-search"
          class="block p-4 pl-10 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300"
          placeholder="Rechercher un pokemon"
        />
        <button
          type="submit"
          class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Attrape le !</button
        >
      </div>
    </section>
    <ul role="list" class="link-card-grid grid gap-4 p-0">
      {
        pokemons &&
          pokemons.map((pokemon) => (
            <Card
              href={`/pokemon/${pokemon.id}`}
              title={`${pokemon.name.french}`}
              pokemon={pokemon}
            />
          ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    max-width: 60ch;
  }
  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
